server {
    server_name localhost;
    listen 80;
    root /usr/share/nginx/html;
    resolver 127.0.0.11 valid=30s;
    
    location / {
        try_files $uri $uri/ /index.html;
    }
    
    location /index.html {
        add_header Cache-Control no-cache;
    }
    {{ $length := len .Proxies }} {{ if gt $length 0 }} {{range $key, $proxy := .Proxies}} 
    location /api/{{$proxy.Path}} {
        set $upstream_{{$key}} {{$proxy.Url}}:{{$proxy.Port}};
        proxy_pass $upstream_{{$key}};
    }
    {{end}}{{end}} 
}